.poster{
    color: white;
    text-align: center;
    position: center;
    width: 50%;
    height: 50%;
    border: 0 0 0 0;
    margin: 2% 25% 20% 25%;
    padding: 20px 0px 0px 0px ;
    

}

body{
    background-color: black;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
img{
 
    border: 5px white solid;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0%;
}
p{
    font-weight: 200;
    font-size: 16pt;
    text-transform: capitalize;
}
h1{
    font-size: 30pt;
    text-transform: uppercase;
}
